<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Bike Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>


        </ul>
        <a class="nav-item nav-link disabled" th:text="'Your cash: ' + ${userCash}" href="#"></a>
        <div class="navbar-text" th:text="'Hello ' + ${userName} + ', welcome to our page'">


        </div>
        <form class="form-inline my-2 my-lg-0">
            <div>&nbsp;&nbsp;&nbsp;</div>
            <a class="btn btn-outline-info" href="/logout">Logout</a>
        </form>
    </div>
</nav>

    <br>
    <div class="container mb-4">
        <div class="shopName">
            <h2 th:text="${bikeShopName}"></h2>
        </div>
        <div class="row">
            <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr class="item">
                    <th scope="col">Brand</th>
                    <th scope="col">Color</th>
                    <th scope="col">Bike Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                <tr class="item" th:each="bike : ${bikesList}">
                    <td th:text="${bike.getBrand()}"></td>
                    <td th:text="${bike.getColor()}"></td>
                    <td th:text="${bike.getBikeType()}"></td>
                    <td th:text="${bike.getPrice()}"></td>
                    <td>
                        <form th:method="post" th:action="@{'/shop/rentABike/{id}' (id = ${bike.getBikeId()})}">
                            <button class="btn btn-outline-info" type="submit">Rent</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div>
            <h5 th:text="'Total shop money: ' + ${shopMoney}"></h5>
        </div>
    </div>

    <!-- TODO -->
    <div class="shopLocation">

    </div>


</body>
</html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>